/*COLORS*/
/*FONT SIZE*/
* {
  font-family: "Raleway"; }

body, ul, li {
  margin: 0;
  padding: 0; }

body {
  margin-left: auto;
  margin-right: auto; }

.heading-blue {
  /*Welcome message*/ }
  .heading-blue__primary {
    grid-row: 3 / 5;
    grid-column: 2 / 5;
    margin-top: -70px;
    margin-bottom: 9px;
    padding-left: 22px;
    height: 62px;
    color: #202946;
    font-size: 36px;
    z-index: 100;
    text-transform: uppercase;
    letter-spacing: 3.5px; }
    @media (max-width: 790px) {
      .heading-blue__primary {
        margin-top: -116px;
        margin-right: 12px;
        padding-left: 31px;
        text-align: center;
        font-size: 33px; } }
    @media (max-width: 480px) {
      .heading-blue__primary {
        margin-top: -152px;
        padding-left: 11px;
        font-size: 36px;
        width: 100%;
        letter-spacing: 3px; } }
  .heading-blue__secondary {
    /*Selling points heading*/
    /*Create account section heading*/
    /*What we do section heading*/
    /*Footer heading*/
    /*Connect With Us heading*/ }
    .heading-blue__secondary--1 {
      grid-row: 1 / 2;
      grid-column: 2 / 5;
      margin-left: -7px;
      margin-top: -14px;
      text-align: center;
      color: #202946;
      font-size: 26px;
      text-transform: uppercase;
      letter-spacing: 2.6px; }
      @media (max-width: 1204px) {
        .heading-blue__secondary--1 {
          margin-top: -44px; } }
      @media (max-width: 790px) {
        .heading-blue__secondary--1 {
          margin-left: -55px; } }
      @media (max-width: 600px) {
        .heading-blue__secondary--1 {
          margin-left: -38px;
          margin-top: -54px; } }
      @media (max-width: 480px) {
        .heading-blue__secondary--1 {
          margin-left: -22px;
          margin-top: -56px; } }
    .heading-blue__secondary--2 {
      margin-top: 38px;
      margin-bottom: 27px;
      text-align: center;
      color: #202946;
      font-size: 26px;
      text-transform: uppercase;
      letter-spacing: 2.6px; }
      @media (max-width: 480px) {
        .heading-blue__secondary--2 {
          margin-top: 35px;
          margin-left: 22px; } }
    .heading-blue__secondary--3 {
      margin-top: -22px;
      margin-left: 10.3%;
      margin-bottom: 19px;
      color: #202946;
      font-size: 26px;
      text-transform: uppercase;
      letter-spacing: 2.6px; }
      @media (max-width: 1670px) {
        .heading-blue__secondary--3 {
          margin-left: 20.3%;
          font-size: 23px; } }
      @media (max-width: 1460px) {
        .heading-blue__secondary--3 {
          margin-left: 12.3%; } }
      @media (max-width: 1204px) {
        .heading-blue__secondary--3 {
          padding-top: 60px; } }
      @media (max-width: 920px) {
        .heading-blue__secondary--3 {
          margin-left: 5.3%;
          padding-right: 20px;
          font-size: 26px; } }
      @media (max-width: 790px) {
        .heading-blue__secondary--3 {
          text-align: center;
          margin-left: -1.7%;
          padding-top: 240px;
          padding-right: 40px;
          padding-left: 50px; } }
      @media (max-width: 600px) {
        .heading-blue__secondary--3 {
          margin-left: -5.7%; } }
      @media (max-width: 480px) {
        .heading-blue__secondary--3 {
          padding-top: 429px;
          padding-right: 0;
          padding-left: 40px;
          margin-left: -5.7%;
          margin-bottom: 10px; } }
    .heading-blue__secondary--4 {
      margin-left: 2%;
      margin-bottom: 20px;
      margin-top: -27px;
      color: #202946;
      font-size: 26px;
      text-transform: uppercase;
      letter-spacing: 2.6px; }
      @media (max-width: 1670px) {
        .heading-blue__secondary--4 {
          margin-right: 95px;
          font-size: 23px; } }
      @media (max-width: 1460px) {
        .heading-blue__secondary--4 {
          margin-right: 47px;
          margin-left: 9%; } }
      @media (max-width: 1204px) {
        .heading-blue__secondary--4 {
          margin-left: -6%; } }
      @media (max-width: 920px) {
        .heading-blue__secondary--4 {
          margin-left: 36%; } }
      @media (max-width: 790px) {
        .heading-blue__secondary--4 {
          margin-left: 22%;
          font-size: 26px; } }
      @media (max-width: 790px) {
        .heading-blue__secondary--4 {
          text-align: center;
          margin-left: 7.3%;
          padding-top: 310px; } }
      @media (max-width: 600px) {
        .heading-blue__secondary--4 {
          margin-left: 4.3%; } }
      @media (max-width: 480px) {
        .heading-blue__secondary--4 {
          margin-left: 4.3%;
          margin-right: -2px;
          margin-bottom: 20px;
          padding-top: 482px; } }
    .heading-blue__secondary--5 {
      margin-top: -28px;
      margin-left: 10.3%;
      color: #202946;
      font-size: 26px;
      text-transform: uppercase;
      letter-spacing: 2.6px; }
      @media (max-width: 1670px) {
        .heading-blue__secondary--5 {
          margin-left: 20.3%;
          font-size: 23px; } }
      @media (max-width: 1460px) {
        .heading-blue__secondary--5 {
          margin-left: 12.3%; } }
      @media (max-width: 1204px) {
        .heading-blue__secondary--5 {
          padding-top: 60px; } }
      @media (max-width: 920px) {
        .heading-blue__secondary--5 {
          margin-left: 5.3%;
          padding-right: 20px;
          font-size: 26px; } }
      @media (max-width: 790px) {
        .heading-blue__secondary--5 {
          text-align: center;
          margin-left: -1.7%;
          padding-top: 60px;
          padding-right: 40px;
          padding-left: 50px; } }
      @media (max-width: 600px) {
        .heading-blue__secondary--5 {
          margin-left: -5.7%; } }
      @media (max-width: 480px) {
        .heading-blue__secondary--5 {
          padding-top: 203px;
          padding-right: 0;
          padding-left: 40px;
          margin-left: -5.7%;
          margin-bottom: 15px; } }
    .heading-blue__secondary--6 {
      margin-top: 8px;
      height: 28px;
      z-index: 100;
      justify-self: center;
      color: #202946;
      font-size: 26px;
      text-transform: uppercase;
      letter-spacing: 2.6px; }
      @media (max-width: 1204px) {
        .heading-blue__secondary--6 {
          text-align: center; } }
      @media (max-width: 600px) {
        .heading-blue__secondary--6 {
          margin-top: -32px; } }
      @media (max-width: 480px) {
        .heading-blue__secondary--6 {
          grid-column: 1 / -1;
          margin-left: -35px;
          margin-right: -56px;
          margin-top: -206px; } }
    .heading-blue__secondary--7 {
      margin-top: 9px;
      margin-bottom: 17px;
      margin-left: 22px;
      text-align: center;
      z-index: 100;
      color: #202946;
      font-size: 26px;
      text-transform: uppercase;
      letter-spacing: 2.6px; }
      @media (max-width: 480px) {
        .heading-blue__secondary--7 {
          margin-top: -65px;
          margin-bottom: 18px;
          letter-spacing: 4px; } }
  .heading-blue__tertiary--1, .heading-blue__tertiary--2, .heading-blue__tertiary--3, .heading-blue__tertiary--4, .heading-blue__tertiary--5, .heading-blue__tertiary--6 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    margin-left: 19px;
    margin-top: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #202946;
    font-weight: bold; }
    @media (max-width: 1670px) {
      .heading-blue__tertiary--1, .heading-blue__tertiary--2, .heading-blue__tertiary--3, .heading-blue__tertiary--4, .heading-blue__tertiary--5, .heading-blue__tertiary--6 {
        margin-left: 28px; } }
    @media (max-width: 1460px) {
      .heading-blue__tertiary--1, .heading-blue__tertiary--2, .heading-blue__tertiary--3, .heading-blue__tertiary--4, .heading-blue__tertiary--5, .heading-blue__tertiary--6 {
        font-size: 18px; } }
    @media (max-width: 790px) {
      .heading-blue__tertiary--1, .heading-blue__tertiary--2, .heading-blue__tertiary--3, .heading-blue__tertiary--4, .heading-blue__tertiary--5, .heading-blue__tertiary--6 {
        grid-row: 2 / 3;
        grid-column: 1 / -1;
        padding: 0;
        margin: 0;
        justify-self: center;
        font-size: 23px; } }
    @media (max-width: 480px) {
      .heading-blue__tertiary--1, .heading-blue__tertiary--2, .heading-blue__tertiary--3, .heading-blue__tertiary--4, .heading-blue__tertiary--5, .heading-blue__tertiary--6 {
        font-size: 19px;
        margin-top: 3px;
        margin-left: 13px; } }

.heading-white {
  color: #fff;
  /*Testimonials section heading*/
  /*Testimonials - name and title*/ }
  .heading-white__secondary {
    grid-row: 2 / 3;
    grid-column: 2 / 4;
    margin-left: -16px;
    margin-top: 1px;
    font-size: 26px;
    text-transform: uppercase;
    text-align: center;
    z-index: 100;
    letter-spacing: 2.6px; }
    @media (max-width: 1204px) {
      .heading-white__secondary {
        margin-top: -29px; } }
    @media (max-width: 480px) {
      .heading-white__secondary {
        grid-column: 1 / -1;
        margin-left: 21px;
        margin-top: -38px; } }
  .heading-white__tertiary {
    margin-top: 38px;
    margin-left: 21px;
    margin-bottom: 0;
    letter-spacing: 3px;
    text-transform: uppercase; }
    .heading-white__tertiary--clposition {
      margin-top: 2px;
      margin-left: 21px;
      text-transform: uppercase;
      font-weight: lighter;
      letter-spacing: 1.4px; }
      @media (max-width: 480px) {
        .heading-white__tertiary--clposition {
          margin-left: 16px; } }
    @media (max-width: 480px) {
      .heading-white__tertiary {
        margin-top: 33px;
        margin-left: 16px; } }

/*Testimonials subheading*/
.subheading-white {
  grid-row: 2 / 3;
  grid-column: 2 / 4;
  margin-left: -22px;
  margin-top: 42px;
  color: #fff;
  font-size: 16px;
  font-weight: lighter;
  text-transform: uppercase;
  text-align: center;
  z-index: 100;
  letter-spacing: 1.61px; }
  @media (max-width: 480px) {
    .subheading-white {
      margin-left: 12px;
      margin-top: 39px; } }

/*All subheadings except testimonials*/
.subheading-blue {
  color: #202946;
  font-size: 16px;
  font-weight: lighter;
  text-transform: uppercase;
  text-align: center;
  z-index: 100; }
  .subheading-blue__1 {
    margin-bottom: 0;
    margin-top: 26px;
    margin-left: -7px;
    letter-spacing: 1.65px;
    grid-row: 1 / 2;
    grid-column: 2 / 5; }
    @media (max-width: 1460px) {
      .subheading-blue__1 {
        width: 80%;
        margin-left: 70px; } }
    @media (max-width: 790px) {
      .subheading-blue__1 {
        margin-left: 38px; } }
    @media (max-width: 600px) {
      .subheading-blue__1 {
        margin-left: 28px;
        margin-top: 13px; } }
    @media (max-width: 480px) {
      .subheading-blue__1 {
        margin-left: 13px;
        margin-top: 26px;
        width: 90%; } }
  .subheading-blue__2 {
    margin-bottom: 39px;
    margin-top: -12px;
    height: 21px;
    letter-spacing: 1.66px; }
    @media (max-width: 1204px) {
      .subheading-blue__2 {
        padding-right: 10px;
        margin-top: 18px;
        margin-bottom: 69px; } }
    @media (max-width: 600px) {
      .subheading-blue__2 {
        margin-top: 48px; } }
    @media (max-width: 480px) {
      .subheading-blue__2 {
        margin-top: -128px;
        line-height: 26px;
        margin-right: -25px; } }
  .subheading-blue__3 {
    margin-top: -5px;
    margin-bottom: 64px;
    margin-left: 21px;
    letter-spacing: 1.65px; }
    @media (max-width: 480px) {
      .subheading-blue__3 {
        margin-top: -10px;
        margin-left: 51px;
        margin-bottom: 57px;
        line-height: 31.3px;
        width: 80%; } }

.btn-primary {
  padding: 9px 0;
  width: 300px;
  justify-self: center;
  background-color: #e31d1a;
  z-index: 10;
  border: none;
  border-radius: 100px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: .3s; }
  .btn-primary__1 {
    grid-row: 3 / 5;
    grid-column: 2 / 5;
    padding: 0 0;
    margin-left: 17px;
    margin-bottom: 65px;
    height: 51px;
    line-height: 51px;
    letter-spacing: 1.6px; }
    .btn-primary__1:hover {
      background-color: #202946;
      -webkit-box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, 0.83);
      -moz-box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, 0.83);
      box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, 0.83); }
    @media (max-width: 480px) {
      .btn-primary__1 {
        grid-row: 3 / 5;
        grid-column: 2 / 5;
        padding: 3px 10px;
        margin-left: 19px;
        margin-bottom: 149px;
        height: 51px;
        line-height: 51px;
        letter-spacing: 2.6px; } }
  .btn-primary__2 {
    margin-top: -10px;
    margin-bottom: 47px;
    line-height: 33px;
    letter-spacing: 1.7px; }
    .btn-primary__2:hover {
      background-color: #202946;
      -webkit-box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, 0.83);
      -moz-box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, 0.83);
      box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, 0.83); }
    @media (max-width: 480px) {
      .btn-primary__2 {
        padding: 11px 10px;
        margin-left: 22px;
        margin-top: -13px; } }

.btn-secondary {
  background-color: #e31d1a;
  z-index: 10;
  border: none;
  border-radius: 100px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: .3s; }
  .btn-secondary__1 {
    padding: 15px 71px;
    margin-left: 10.3%;
    letter-spacing: 1.7px; }
    .btn-secondary__1:hover {
      background-color: #202946;
      -webkit-box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, 0.83);
      -moz-box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, 0.83);
      box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, 0.83); }
    @media (max-width: 1670px) {
      .btn-secondary__1 {
        margin-left: 20.3%; } }
    @media (max-width: 1460px) {
      .btn-secondary__1 {
        margin-left: 12.3%; } }
    @media (max-width: 920px) {
      .btn-secondary__1 {
        margin-left: 5.3%; } }
    @media (max-width: 790px) {
      .btn-secondary__1 {
        margin-left: 29%; } }
    @media (max-width: 600px) {
      .btn-secondary__1 {
        margin-left: 20%; } }
    @media (max-width: 480px) {
      .btn-secondary__1 {
        margin-left: 22%; } }
  .btn-secondary__2 {
    padding: 15px 71px;
    margin-left: 2%;
    letter-spacing: 1.7px; }
    .btn-secondary__2:hover {
      background-color: #202946;
      -webkit-box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, 0.83);
      -moz-box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, 0.83);
      box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, 0.83); }
    @media (max-width: 1460px) {
      .btn-secondary__2 {
        margin-left: 9%; } }
    @media (max-width: 1204px) {
      .btn-secondary__2 {
        margin-left: -6%; } }
    @media (max-width: 920px) {
      .btn-secondary__2 {
        margin-left: 36%; } }
    @media (max-width: 790px) {
      .btn-secondary__2 {
        margin-left: 29%; } }
    @media (max-width: 600px) {
      .btn-secondary__2 {
        margin-left: 20%; } }
    @media (max-width: 480px) {
      .btn-secondary__2 {
        margin-left: 22%; } }
  .btn-secondary__3 {
    padding: 15px 71px;
    margin-left: 10.3%;
    letter-spacing: 1.7px; }
    .btn-secondary__3:hover {
      background-color: #202946;
      -webkit-box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, 0.83);
      -moz-box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, 0.83);
      box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, 0.83); }
    @media (max-width: 1670px) {
      .btn-secondary__3 {
        margin-left: 20.3%; } }
    @media (max-width: 1460px) {
      .btn-secondary__3 {
        margin-left: 12.3%; } }
    @media (max-width: 920px) {
      .btn-secondary__3 {
        margin-left: 5.3%; } }
    @media (max-width: 790px) {
      .btn-secondary__3 {
        margin-left: 29%; } }
    @media (max-width: 600px) {
      .btn-secondary__3 {
        margin-left: 20%; } }
    @media (max-width: 480px) {
      .btn-secondary__3 {
        margin-left: 22%; } }
  .btn-secondary__4 {
    margin-bottom: 155px;
    margin-top: -96px;
    margin-left: 19px;
    padding: 15px 91px;
    letter-spacing: 1.7px;
    justify-self: center; }
    .btn-secondary__4:hover {
      background-color: #202946;
      -webkit-box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, 0.83);
      -moz-box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, 0.83);
      box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, 0.83); }
    @media (max-width: 480px) {
      .btn-secondary__4 {
        margin-bottom: 216px; } }

header {
  background-image: url(../img/main_photo_top.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
  display: grid;
  grid-template-rows: 20px 100px 300px 150px 500px;
  grid-template-columns: 17% 10% 42% 14% 17%; }
  @media (max-width: 1460px) {
    header {
      grid-template-rows: 20px 100px 300px 150px 320px; } }
  @media (max-width: 920px) {
    header {
      grid-template-columns: 9% 10% 60% 10% 11%; } }
  @media (max-width: 480px) {
    header {
      grid-template-columns: 5% 10% 70% 10% 5%;
      grid-template-rows: 20px 100px 300px 150px 133px;
      background-image: url(../img/main_photo_top-mobile.jpg); } }
  header .trigger {
    position: absolute;
    top: 10px;
    background: #e31d1a;
    height: 1px;
    width: 10px;
    opacity: 0; }
  header .onscroll_bar {
    position: fixed;
    top: -100px;
    background-color: #fff;
    width: 100%;
    height: 100px;
    opacity: 0;
    transition: .3s; }
    @media (max-width: 1670px) {
      header .onscroll_bar {
        height: 125px; } }
    @media (max-width: 790px) {
      header .onscroll_bar {
        height: 85px; } }
  header .displayBar {
    top: 0px;
    transition: .3s;
    opacity: .9;
    z-index: 400; }
  header .logo {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    margin-top: 35px;
    margin-left: 327px;
    position: fixed;
    text-indent: -10000px;
    background: url(../img/logo.png) no-repeat;
    width: 190px;
    height: 50px;
    z-index: 500;
    cursor: pointer; }
    @media (max-width: 1670px) {
      header .logo {
        margin-top: 18px;
        margin-left: 45%; } }

@nclude xl-2 {
  header .logo {
    margin-left: 44%; } }
    @media (max-width: 1204px) {
      header .logo {
        margin-left: 43%; } }
    @media (max-width: 920px) {
      header .logo {
        margin-left: 40%; } }
    @media (max-width: 790px) {
      header .logo {
        margin-left: 9%;
        width: 246px;
        height: 52px;
        background-size: cover; } }
    @media (max-width: 480px) {
      header .logo {
        margin-left: 6%;
        margin-top: 22px;
        width: 216px;
        height: 42px; } }
  header .navigation {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    margin-left: 33.1%;
    margin-top: 53px;
    position: fixed;
    z-index: 500;
    display: grid;
    justify-content: center; }
    @media (max-width: 1670px) {
      header .navigation {
        margin-left: .2%;
        margin-top: 82px;
        width: 100%; } }
    @media (max-width: 1204px) {
      header .navigation {
        grid-column: 1 / -1;
        margin-left: -0.8%; } }
    header .navigation nav {
      grid-row: 2 / 3;
      grid-column: 3 / 4;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      z-index: 500;
      display: grid; }
      @media (max-width: 790px) {
        header .navigation nav {
          background-color: #e9e9e9; } }
      header .navigation nav .burger {
        display: none;
        margin-left: 290px;
        margin-top: -53px;
        width: 40px;
        height: 30px;
        position: fixed;
        cursor: pointer;
        background-image: url(../img/burger.png);
        background-repeat: no-repeat;
        background-size: cover; }
        @media (max-width: 790px) {
          header .navigation nav .burger {
            display: block;
            margin-left: 370px; } }
        @media (max-width: 600px) {
          header .navigation nav .burger {
            margin-left: 340px; } }
        @media (max-width: 480px) {
          header .navigation nav .burger {
            margin-left: 313px;
            width: 50px;
            height: 33px; } }
      header .navigation nav .open {
        height: auto; }
      header .navigation nav ul {
        display: inline-flex; }
        @media (max-width: 790px) {
          header .navigation nav ul {
            display: block;
            text-align: center;
            height: 0;
            overflow: hidden; } }
        header .navigation nav ul li {
          list-style-type: none;
          padding: 0 17.5px; }
          @media (max-width: 790px) {
            header .navigation nav ul li {
              width: 270px;
              padding: 10px; } }
          header .navigation nav ul li .nav-link {
            text-decoration: none;
            color: #546996;
            letter-spacing: 1.4px; }
            header .navigation nav ul li .nav-link:hover {
              position: relative;
              color: #e31d1a; }
            header .navigation nav ul li .nav-link:hover:after {
              content: url(../img/link_pointer_red.png);
              display: block;
              position: absolute;
              top: -20px;
              left: 50%;
              transform: translateX(-50%); }
            @media (max-width: 790px) {
              header .navigation nav ul li .nav-link {
                pointer-events: none;
                padding: 10px; } }
        header .navigation nav ul :nth-child(5) {
          display: none; }
          header .navigation nav ul :nth-child(5):hover > ul {
            display: inline;
            height: 183px;
            width: 218px;
            padding-left: 30px;
            background-color: #e9e9e9; }
          @media (max-width: 1670px) {
            header .navigation nav ul :nth-child(5) {
              display: inline-flex; } }
          @media (max-width: 790px) {
            header .navigation nav ul :nth-child(5) {
              width: 100px; } }
        header .navigation nav ul ul {
          display: none;
          position: absolute;
          top: 20px; }
          @media (max-width: 1204px) {
            header .navigation nav ul ul {
              right: 100px; } }
          @media (max-width: 920px) {
            header .navigation nav ul ul {
              right: 50px; } }
          @media (max-width: 790px) {
            header .navigation nav ul ul {
              top: 220px;
              right: 100px; } }
          header .navigation nav ul ul li {
            padding-top: 16px;
            padding-bottom: 16px;
            width: 161px;
            display: list-item;
            position: relative;
            border-bottom: 2px solid gray;
            cursor: pointer;
            transition: .3s; }
            header .navigation nav ul ul li:hover {
              background-color: #202946;
              color: #fff; }
            header .navigation nav ul ul li a {
              padding-bottom: 15px;
              padding-top: 18px;
              text-decoration: none;
              transition: .3s;
              color: #546996; }
      header .navigation nav h2 {
        line-height: 0;
        margin: 0;
        text-indent: -10000px; }
  header .welcome {
    grid-row: 3 / 5;
    grid-column: 2 / 5;
    display: grid;
    justify-content: center;
    align-content: end; }
  header .user-options {
    grid-row: 2 / 3;
    grid-column: 3 / 5;
    margin-left: 70%;
    margin-top: 18px;
    position: fixed;
    z-index: 500;
    font-size: 14px;
    display: inline-block;
    letter-spacing: 1.1px; }
    @media (max-width: 1670px) {
      header .user-options {
        display: none; } }
    header .user-options img {
      cursor: pointer; }
    header .user-options a {
      list-style-type: none;
      margin-right: 17px;
      text-decoration: none;
      color: #202946;
      letter-spacing: 1px; }
      header .user-options a:last:child {
        margin-right: 0; }
      header .user-options a:hover {
        color: #e31d1a; }

main .selling-points {
  display: grid;
  grid-template-rows: 100px 250px 250px 96px 170px;
  grid-template-columns: 20% 20% 20% 21% 20%;
  margin-left: 10px;
  margin-top: -50px; }
  @media (max-width: 1460px) {
    main .selling-points {
      grid-template-rows: 100px 250px 250px 96px 170px 170px;
      grid-template-columns: 17.5% 22% 21% 21.5% 18%;
      margin-left: 0; } }
  @media (max-width: 920px) {
    main .selling-points {
      grid-template-columns: 9% 10% 30% 41% 10%; } }
  @media (max-width: 790px) {
    main .selling-points {
      grid-template-rows: 117px repeat(6, 311px) 375px 170px;
      grid-template-columns: 9% 82% 9%; } }
  @media (max-width: 480px) {
    main .selling-points {
      grid-template-rows: 117px repeat(6, 311px) 374px 170px; } }
  main .selling-points ul {
    grid-row: 2 / 4;
    grid-column: 2 / 5;
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, auto));
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 4.5%;
    grid-row-gap: 8%;
    list-style-type: none; }
    @media (max-width: 1460px) {
      main .selling-points ul {
        grid-template-columns: repeat(2, minmax(auto, auto));
        grid-template-rows: repeat(3, 210px);
        grid-row-gap: 5%; } }
    @media (max-width: 790px) {
      main .selling-points ul {
        display: block; } }
    @media (max-width: 790px) {
      main .selling-points ul > :nth-of-type(1) {
        grid-row: 2 / 3;
        grid-column: 2 / 3; } }
    @media (max-width: 790px) {
      main .selling-points ul > :nth-of-type(2) {
        grid-row: 3 / 4;
        grid-column: 2 / 3; } }
    @media (max-width: 790px) {
      main .selling-points ul > :nth-of-type(3) {
        grid-row: 4 / 5;
        grid-column: 2 / 3; } }
    @media (max-width: 790px) {
      main .selling-points ul > :nth-child(4) {
        grid-row: 5 / 6;
        grid-column: 2 / 3; } }
    @media (max-width: 790px) {
      main .selling-points ul > :nth-of-type(5) {
        grid-row: 6 / 7;
        grid-column: 2 / 3; } }
    @media (max-width: 790px) {
      main .selling-points ul > :nth-of-type(6) {
        grid-row: 7 / 8;
        grid-column: 2 / 3; } }
    main .selling-points ul li {
      display: grid;
      grid-template-rows: 55px 200px;
      grid-template-columns: 13% 87%;
      text-align: left;
      overflow: hidden; }
      main .selling-points ul li p {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
        word-wrap: break-word;
        margin: 0;
        font-size: 16px;
        color: #4f4f4f;
        letter-spacing: 1.5px; }
        @media (max-width: 790px) {
          main .selling-points ul li p {
            grid-row: 3 / 4;
            grid-column: 1 / -1;
            text-align: center;
            padding: 0 60px; } }
        @media (max-width: 480px) {
          main .selling-points ul li p {
            grid-template-columns: 4% 92% 4px;
            padding: 0;
            text-align: left;
            font-size: 18px;
            line-height: 22px; } }
      main .selling-points ul li img {
        grid-row: 1 / 2;
        grid-column: 1 / 2; }
        @media (max-width: 790px) {
          main .selling-points ul li img {
            grid-row: 1 / 2;
            grid-column: 1 / -1;
            justify-self: center;
            width: 70px; } }
        @media (max-width: 480px) {
          main .selling-points ul li img {
            margin-left: 10px;
            margin-top: 2px; } }
      @media (max-width: 790px) {
        main .selling-points ul li {
          grid-template-rows: 85px 50px 117px;
          grid-template-columns: 9% 82% 9px;
          margin-bottom: 40px; } }
      @media (max-width: 480px) {
        main .selling-points ul li {
          grid-template-rows: 85px 50px 200px;
          margin-bottom: 37px; } }
  main .selling-points .create-account {
    grid-row: 5 / 6;
    grid-column: 2 / 5;
    padding-bottom: 26px;
    margin-top: -25px;
    margin-right: 1%;
    margin-bottom: 25px;
    background-color: #e9e9e9;
    display: grid; }
    @media (max-width: 1460px) {
      main .selling-points .create-account {
        grid-row: 6 / 7;
        margin-right: 0; } }
    @media (max-width: 1204px) {
      main .selling-points .create-account {
        margin-bottom: -15px; } }
    @media (max-width: 920px) {
      main .selling-points .create-account {
        grid-column: 1 / -1;
        margin-bottom: 25px; } }
    @media (max-width: 790px) {
      main .selling-points .create-account {
        grid-row: 9 / 10;
        margin-bottom: -15px; } }
    @media (max-width: 480px) {
      main .selling-points .create-account {
        margin-bottom: -8px;
        margin-top: -19px; } }

.what-we-do {
  display: grid;
  grid-row: 3;
  grid-column: 4;
  grid-template-rows: repeat(3, 464px);
  grid-template-columns: 17% 35% 32% 16%;
  margin-top: 69px; }
  @media (max-width: 1460px) {
    .what-we-do {
      grid-template-columns: 13% 35% 39% 13%; } }
  @media (max-width: 1204px) {
    .what-we-do {
      grid-template-rows: repeat(3, 524px); } }
  @media (max-width: 920px) {
    .what-we-do {
      grid-template-columns: 4% 46% 46% 4%; } }
  @media (max-width: 790px) {
    .what-we-do {
      grid-template-columns: 4% 88% 4%;
      grid-template-rows: repeat(3, 613px); } }
  @media (max-width: 600px) {
    .what-we-do {
      grid-template-rows: repeat(3, 700px);
      grid-template-columns: 4% 85% 8%; } }
  @media (max-width: 480px) {
    .what-we-do {
      grid-template-rows: repeat(3, 800px); } }
  .what-we-do ul {
    grid-row: 1 / 4;
    grid-column: 2 / 4;
    list-style-type: none;
    display: grid; }
    .what-we-do ul > :nth-child(1) {
      grid-row: 1 / 2;
      grid-column: 2 / 4; }
      .what-we-do ul > :nth-child(1) .caption {
        background-position: 93.5% 53%;
        display: grid;
        grid-row: 1;
        grid-column: 2;
        grid-template-rows: 464px;
        grid-template-columns: 50% 50%;
        align-items: center;
        background-image: url(../img/round_photo.png);
        background-size: 27%;
        background-repeat: no-repeat;
        margin: 0;
        border-top: 2px solid #e9e9e9; }
        @media (max-width: 1670px) {
          .what-we-do ul > :nth-child(1) .caption {
            background-position: 83.5% 46%; } }
        @media (max-width: 1460px) {
          .what-we-do ul > :nth-child(1) .caption {
            background-position: 90.5% 53%;
            background-size: 30%; } }
        @media (max-width: 1204px) {
          .what-we-do ul > :nth-child(1) .caption {
            margin-top: 0;
            padding-top: 40px; } }
        @media (max-width: 790px) {
          .what-we-do ul > :nth-child(1) .caption {
            background-size: 36%;
            background-position: 50% 6%;
            padding-top: 80px; } }
        @media (max-width: 480px) {
          .what-we-do ul > :nth-child(1) .caption {
            background-size: 54%;
            background-position: 54% 24%; } }
        @media (max-width: 920px) {
          .what-we-do ul > :nth-child(1) .caption .text-and-button-wrapper {
            grid-column: 1 / 4; } }
        .what-we-do ul > :nth-child(1) .caption .text-and-button-wrapper .figcap_1 {
          margin-bottom: 44px;
          margin-left: 10.3%;
          letter-spacing: 1.6px; }
          @media (max-width: 1670px) {
            .what-we-do ul > :nth-child(1) .caption .text-and-button-wrapper .figcap_1 {
              margin-left: 20.3%; } }
          @media (max-width: 1460px) {
            .what-we-do ul > :nth-child(1) .caption .text-and-button-wrapper .figcap_1 {
              margin-left: 12.3%; } }
          @media (max-width: 920px) {
            .what-we-do ul > :nth-child(1) .caption .text-and-button-wrapper .figcap_1 {
              margin-left: 5.3%;
              padding-right: 331px; } }
          @media (max-width: 790px) {
            .what-we-do ul > :nth-child(1) .caption .text-and-button-wrapper .figcap_1 {
              padding: 0 43px;
              margin-left: -1.7%;
              text-align: center; } }
          @media (max-width: 480px) {
            .what-we-do ul > :nth-child(1) .caption .text-and-button-wrapper .figcap_1 {
              margin-left: .3%;
              padding: 0 3px; } }
    .what-we-do ul > :nth-child(2) {
      grid-row: 2 / 3;
      grid-column: 2 / 4; }
      .what-we-do ul > :nth-child(2) .caption_2 {
        direction: rtl;
        background-position: 7% 53%;
        display: grid;
        grid-row: 1;
        grid-column: 2;
        grid-template-rows: 464px;
        grid-template-columns: 50% 50%;
        align-items: center;
        background-image: url(../img/round_photo.png);
        background-size: 27%;
        background-repeat: no-repeat;
        margin: 0;
        border-top: 2px solid #e9e9e9; }
        @media (max-width: 1670px) {
          .what-we-do ul > :nth-child(2) .caption_2 {
            background-position: 17% 46%; } }
        @media (max-width: 1460px) {
          .what-we-do ul > :nth-child(2) .caption_2 {
            background-position: 7% 46%;
            background-size: 30%; } }
        @media (max-width: 1204px) {
          .what-we-do ul > :nth-child(2) .caption_2 {
            margin-top: 90px;
            padding-top: 60px; } }
        @media (max-width: 790px) {
          .what-we-do ul > :nth-child(2) .caption_2 {
            background-position: 50% 9%;
            background-size: 36%;
            margin-top: 89px; } }
        @media (max-width: 480px) {
          .what-we-do ul > :nth-child(2) .caption_2 {
            background-size: 54%;
            background-position: 54% 26%; } }
        @media (max-width: 920px) {
          .what-we-do ul > :nth-child(2) .caption_2 .text-and-button-wrapper_2 {
            grid-column: 1 / 4; } }
        .what-we-do ul > :nth-child(2) .caption_2 .text-and-button-wrapper_2 .figcap_2 {
          padding-right: 69px;
          margin-bottom: 44px;
          margin-left: 2%;
          letter-spacing: 1.4px; }
          @media (max-width: 1670px) {
            .what-we-do ul > :nth-child(2) .caption_2 .text-and-button-wrapper_2 .figcap_2 {
              margin-right: 10.3%; } }
          @media (max-width: 1460px) {
            .what-we-do ul > :nth-child(2) .caption_2 .text-and-button-wrapper_2 .figcap_2 {
              margin-right: -2.7%;
              margin-left: 9%; } }
          @media (max-width: 1204px) {
            .what-we-do ul > :nth-child(2) .caption_2 .text-and-button-wrapper_2 .figcap_2 {
              margin-left: -6%; } }
          @media (max-width: 920px) {
            .what-we-do ul > :nth-child(2) .caption_2 .text-and-button-wrapper_2 .figcap_2 {
              margin-left: 36%; } }
          @media (max-width: 790px) {
            .what-we-do ul > :nth-child(2) .caption_2 .text-and-button-wrapper_2 .figcap_2 {
              padding: 0 43px;
              text-align: center;
              margin-left: -2.7%;
              margin-bottom: 50px; } }
          @media (max-width: 600px) {
            .what-we-do ul > :nth-child(2) .caption_2 .text-and-button-wrapper_2 .figcap_2 {
              margin-left: -4.7%; } }
          @media (max-width: 480px) {
            .what-we-do ul > :nth-child(2) .caption_2 .text-and-button-wrapper_2 .figcap_2 {
              margin-left: -3.7%;
              padding: 0 4px;
              margin-bottom: 34px; } }
    .what-we-do ul > :nth-child(3) {
      grid-row: 3 / 4;
      grid-column: 2 / 4; }
      .what-we-do ul > :nth-child(3) .caption_3 {
        background-position: 93.5% 53%;
        display: grid;
        grid-row: 1;
        grid-column: 2;
        grid-template-rows: 464px;
        grid-template-columns: 50% 50%;
        align-items: center;
        background-image: url(../img/round_photo.png);
        background-size: 27%;
        background-repeat: no-repeat;
        margin: 0;
        border-top: 2px solid #e9e9e9; }
        @media (max-width: 1670px) {
          .what-we-do ul > :nth-child(3) .caption_3 {
            background-position: 83.5% 46%; } }
        @media (max-width: 1460px) {
          .what-we-do ul > :nth-child(3) .caption_3 {
            background-position: 90.5% 53%;
            background-size: 30%; } }
        @media (max-width: 1204px) {
          .what-we-do ul > :nth-child(3) .caption_3 {
            margin-top: 62px;
            padding-top: 40px; } }
        @media (max-width: 790px) {
          .what-we-do ul > :nth-child(3) .caption_3 {
            background-size: 36%;
            background-position: 50% 6%;
            padding-top: 180px;
            margin-top: 130px; } }
        @media (max-width: 480px) {
          .what-we-do ul > :nth-child(3) .caption_3 {
            background-size: 54%;
            background-position: 54% 14%; } }
        @media (max-width: 920px) {
          .what-we-do ul > :nth-child(3) .caption_3 .text-and-button-wrapper_3 {
            grid-column: 1 / 4; } }
        .what-we-do ul > :nth-child(3) .caption_3 .text-and-button-wrapper_3 .figcap_3 {
          padding-right: 8px;
          margin-top: -6px;
          margin-bottom: 44px;
          margin-left: 10.3%;
          letter-spacing: 1.6px; }
          @media (max-width: 1670px) {
            .what-we-do ul > :nth-child(3) .caption_3 .text-and-button-wrapper_3 .figcap_3 {
              margin-left: 20.3%; } }
          @media (max-width: 1460px) {
            .what-we-do ul > :nth-child(3) .caption_3 .text-and-button-wrapper_3 .figcap_3 {
              margin-left: 12.3%; } }
          @media (max-width: 920px) {
            .what-we-do ul > :nth-child(3) .caption_3 .text-and-button-wrapper_3 .figcap_3 {
              margin-left: 5.3%;
              padding-right: 331px; } }
          @media (max-width: 790px) {
            .what-we-do ul > :nth-child(3) .caption_3 .text-and-button-wrapper_3 .figcap_3 {
              padding: 0 43px;
              margin-left: -1.7%;
              text-align: center; } }
          @media (max-width: 480px) {
            .what-we-do ul > :nth-child(3) .caption_3 .text-and-button-wrapper_3 .figcap_3 {
              margin-left: .3%;
              padding: 0 3px; } }

.testimonials {
  background-image: url(../img/main_photo_middle.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  grid-row: 6;
  grid-column: 5;
  grid-template-rows: 83px 52px 56px 300px 56px 53px;
  grid-template-columns: 20% 30% 32% 18%;
  margin-top: 76px;
  border-top: none; }
  @media (max-width: 1670px) {
    .testimonials {
      margin-top: 26px; } }
  @media (max-width: 1460px) {
    .testimonials {
      background-size: cover; } }
  @media (max-width: 1204px) {
    .testimonials {
      margin-top: 230px;
      grid-template-columns: 10% 40% 40% 10%; } }
  @media (max-width: 790px) {
    .testimonials {
      grid-template-rows: 83px 92px 220px 220px 56px 248px;
      margin-top: 130px; } }
  @media (max-width: 600px) {
    .testimonials {
      margin-top: 50px; } }
  @media (max-width: 480px) {
    .testimonials {
      grid-template-columns: 10% 40% 47% 3%;
      grid-template-rows: 83px 92px 220px 220px 80px 248px;
      margin-top: -28px;
      background-image: url(../img/main_photo_middle-mobile.jpg); } }
  .testimonials ul {
    grid-row: 4 / 5;
    grid-column: 2 / 4;
    display: flex; }
    @media (max-width: 1670px) {
      .testimonials ul {
        margin-bottom: 40px; } }
    @media (max-width: 790px) {
      .testimonials ul {
        display: grid;
        grid-template-rows: 230px 230px;
        grid-row: 3 / 7;
        grid-row-gap: 140px; } }
    @media (max-width: 600px) {
      .testimonials ul {
        margin-top: 0; } }
    @media (max-width: 480px) {
      .testimonials ul {
        margin-top: 18px;
        margin-left: -3px; } }
  .testimonials .testimonial__1 {
    margin-left: 10px;
    margin-right: 11.9%;
    margin-top: -13px;
    width: 44%;
    list-style-type: none;
    z-index: 100; }
    @media (max-width: 480px) {
      .testimonials .testimonial__1 {
        width: 99%; } }
    @media (max-width: 1460px) {
      .testimonials .testimonial__1 {
        margin-right: 5.9%;
        margin-left: -32px;
        width: 49%; } }
    @media (max-width: 1204px) {
      .testimonials .testimonial__1 {
        margin-right: 3.9%;
        margin-left: 0; } }
    @media (max-width: 790px) {
      .testimonials .testimonial__1 {
        width: 100%;
        grid-row: 1 / 2;
        grid-column: 1 / -1; } }
    .testimonials .testimonial__1 p {
      padding: 9%;
      letter-spacing: 1.6px; }
      @media (max-width: 1670px) {
        .testimonials .testimonial__1 p {
          font-size: 14px; } }
  .testimonials .testimonial__2 {
    margin-right: 25px;
    margin-top: -13px;
    width: 44%;
    list-style-type: none;
    z-index: 100; }
    @media (max-width: 480px) {
      .testimonials .testimonial__2 {
        width: 99%; } }
    @media (max-width: 1460px) {
      .testimonials .testimonial__2 {
        margin-right: 1%;
        width: 49%; } }
    @media (max-width: 1204px) {
      .testimonials .testimonial__2 {
        margin-right: 0; } }
    @media (max-width: 790px) {
      .testimonials .testimonial__2 {
        width: 100%; } }
    .testimonials .testimonial__2 p {
      padding: 9%;
      letter-spacing: 1.6px; }
      @media (max-width: 1670px) {
        .testimonials .testimonial__2 p {
          font-size: 14px; } }
  .testimonials .testimonial .greeting-box {
    position: relative;
    max-width: 100%;
    min-height: 90%;
    background: #fff;
    box-sizing: border-box; }
    @media (max-width: 480px) {
      .testimonials .testimonial .greeting-box {
        margin-top: 21px;
        height: 99%; } }
    .testimonials .testimonial .greeting-box:after {
      content: '';
      margin-left: -25px;
      margin-top: -25px;
      position: absolute;
      top: 100%;
      left: 25%;
      width: 40px;
      height: 40px;
      border-top: 0 solid red;
      border-left: 0 solid red;
      transform: rotate(45deg);
      background: #fff; }

footer {
  background-image: url(../img/main_photo_bottom.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  display: grid;
  grid-template-rows: 145px 217px 160px 200px 150px 18px 34px 50px;
  grid-template-columns: 10% 80% 10%;
  margin-top: 114px;
  list-style-type: none; }
  @media (max-width: 480px) {
    footer {
      grid-template-rows: 145px 217px 70px 100px 100px 18px 34px 50px;
      background-image: url(../img/main_photo_bottom-mobile.jpg); } }
  footer .signup {
    grid-row: 2 / 4;
    grid-column: 2 / 3;
    display: grid; }
    footer .signup input {
      padding-left: 20px;
      margin-bottom: 125px;
      margin-top: -5px;
      margin-left: 17px;
      width: 24%;
      border: none;
      border-bottom: 2px solid lightgray;
      height: 42px;
      font-size: 15px;
      transition: .3s;
      letter-spacing: 1.5px;
      justify-self: center; }
      footer .signup input:focus {
        outline: none;
        background: #e9e9e9; }
      @media (max-width: 1670px) {
        footer .signup input {
          width: 34%; } }
      @media (max-width: 1204px) {
        footer .signup input {
          width: 45%; } }
      @media (max-width: 920px) {
        footer .signup input {
          width: 45%; } }
      @media (max-width: 600px) {
        footer .signup input {
          width: 95%; } }
      @media (max-width: 480px) {
        footer .signup input {
          margin-top: 11px;
          margin-left: 6px;
          width: 96%; } }
  footer .connect {
    grid-row: 4 / 6;
    grid-column: 2 / 3; }
    footer .connect .social-networks {
      display: flex;
      justify-content: center;
      list-style-type: none; }
      footer .connect .social-networks .image-wrapper {
        display: flex;
        justify-content: center;
        padding: 0 6px;
        padding-right: 3px;
        margin-left: 19px; }
        footer .connect .social-networks .image-wrapper a {
          text-decoration: none; }
          footer .connect .social-networks .image-wrapper a:hover:after {
            content: ''; }
        footer .connect .social-networks .image-wrapper .image1 {
          position: relative;
          z-index: 100;
          transition: .3s; }
          footer .connect .social-networks .image-wrapper .image1:hover {
            opacity: 0; }
          @media (max-width: 1204px) {
            footer .connect .social-networks .image-wrapper .image1 {
              opacity: 0; } }
        footer .connect .social-networks .image-wrapper .image2 {
          position: absolute; }
  footer nav {
    grid-row: 6 / 8;
    grid-column: 2 / 3;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 100; }
    footer nav ul {
      display: inline-flex;
      margin-top: 11px;
      margin-left: 21px; }
      @media (max-width: 790px) {
        footer nav ul {
          display: inline-block;
          margin-top: -80px; } }
      footer nav ul li {
        padding: 0 17px;
        list-style-type: none; }
        footer nav ul li .nav-link {
          text-decoration: none;
          color: #202946;
          letter-spacing: 1.4px; }
          footer nav ul li .nav-link:hover {
            position: relative; }
          footer nav ul li .nav-link:hover:after {
            display: block;
            position: absolute;
            top: -20px;
            left: 50%;
            transform: translateX(-50%);
            content: url(../img/link_pointer_blue.png);
            color: #202946; }
        @media (max-width: 790px) {
          footer nav ul li {
            padding: 7px 0px;
            font-size: 16px;
            pointer-events: none; } }
        @media (max-width: 480px) {
          footer nav ul li {
            display: none; } }
  footer .copyright {
    grid-row: 8 / 9;
    grid-column: 1 / 4;
    margin-top: 9px;
    background-color: #202946;
    color: #4f4f4f;
    display: flex;
    align-items: center;
    justify-content: center; }
    footer .copyright p {
      margin-left: 21px;
      font-size: 12px;
      letter-spacing: 1.3px; }
