header{

	background-image: url(../img/main_photo_top.jpg);
	background-repeat: no-repeat;
	background-position: top;
	background-size: 100%;

	display: grid;
	grid-template-rows: 20px 100px 300px 150px 500px;
	grid-template-columns: 17% 10% 42% 14% 17%;

	@include xl-2{
		grid-template-rows: 20px 100px 300px 150px 320px;
	}

	@include lg{
		grid-template-columns: 9% 10% 60% 10% 11%;
	}

	@include smx{
		grid-template-columns: 5% 10% 70% 10% 5%;
		grid-template-rows: 20px 100px 300px 150px 133px;

		background-image: url(../img/main_photo_top-mobile.jpg);
	}

	& .trigger{
		position: absolute;
		top: 10px;
		background: $color-red;
		height: 1px;
		width: 10px;
		opacity: 0;
	}

	& .onscroll_bar{
		position: fixed;
		top: -100px;
		background-color: $color-white;
		width: 100%;
		height: 100px;
		opacity: 0;
		transition: .3s;

		@include xxl{
			height: 125px;
		}

		@include md{
			height: 85px;
		}
	}

	& .displayBar {
		top: 0px;
		transition: .3s;
	  	opacity: .9;
	  	z-index: 400;
	}

	& .logo{
    	grid-row: 2 / 3;
    	grid-column: 2 / 3;

    	margin-top: 35px;
		margin-left: 327px;

		position: fixed;

	    text-indent: -10000px;
	    background: url(../img/logo.png) no-repeat;
	    width: 190px;
	    height: 50px;
	    z-index: 500;
	    cursor: pointer;

	    @include xxl{
	    	margin-top: 18px;
	    	margin-left: 45%;
	    }

	    @nclude xl-2{
	    	margin-left: 44%;
	    }

	    @include xl{
	    	margin-left: 43%;
	    }

	    @include lg{
	    	margin-left: 40%;
	    }

	    @include md{
	    	margin-left: 9%;
	    	width: 246px;
	    	height: 52px;
	    	background-size: cover;

	    }

	    @include smx{
	    	margin-left: 6%;
			margin-top: 22px;
    		width: 216px;
    		height: 42px;
	    }
	}
	

	& .navigation{
		grid-row: 2 / 3;
		grid-column: 3 / 4;

		margin-left: 33.1%;
		margin-top: 53px;

		position: fixed;
		z-index: 500;

		display: grid;
		justify-content: center;

		@include xxl{
			margin-left: .2%;
			margin-top: 82px;

			width: 100%;
		}

		@include xl{
			grid-column: 1 / -1;
			margin-left: -0.8%;
		}

	nav{
	    grid-row: 2 / 3;
		grid-column: 3 / 4;

	    font-size: $font-size-16;
	    font-weight: bold;
	    text-transform: uppercase;
	    z-index: 500;

	    display: grid;

	    @include md{
	    	background-color: $color-light-gray;
	    }

	    & .burger{
	    	display: none;
	    	margin-left: 290px;
			margin-top: -53px;

			width: 40px;
			height: 30px;
			position: fixed;
			cursor: pointer;

			background-image: url(../img/burger.png);
			background-repeat: no-repeat;
			background-size: cover;

		    @include md{
		    	display: block;
		    	margin-left: 370px;
		    }

		    @include sm{
		    	margin-left: 340px;
		    }

		    @include smx{
		    	margin-left: 313px;
    			width: 50px;
    			height: 33px;
		    }
	    }

	    & .open{
			height: auto;
		}


		    ul{
		    	display: inline-flex;
		    	

		    	@include md{
		    		display: block;
					text-align: center;
					height: 0;
					overflow: hidden;
		    	}

		    	li{
			 	    list-style-type: none;
			 	    padding: 0 17.5px;

			 	    @include md{
			 	    	width: 270px;
						padding: 10px;
			 	    }    		

		    		& .nav-link{
		    			text-decoration: none;
		    			color: $color-light-blue;
		    			letter-spacing: 1.4px;

		    			&:hover{
		    				position: relative;
		    				color: $color-red;
		    			}

		    			&:hover:after{
		    				content: url(../img/link_pointer_red.png);
		    				display: block;
		    				position: absolute;
							top: -20px;
							left: 50%;
							transform: translateX(-50%);
		    			}

		    			@include md{
		    				pointer-events: none;
							padding: 10px;
		    			}
		    		}

			    }

		    	& :nth-child(5){
	    			display: none;

	    			&:hover > ul{

	    				display: inline;
	    				height: 183px;
	    				width: 218px;
	    				padding-left: 30px;
	    				background-color: $color-light-gray;
	    			}

	    			@include xxl{
	    				display: inline-flex;
	    			}

	    			@include md{
	    				width: 100px;
	    			}
	    		}

	    		ul{
	    			display: none;
	    			position: absolute;
	    			top: 20px;

	    			@include xl{
	    				right: 100px;
	    			}

	    			@include lg{
	    				right: 50px;
	    			}

	    			@include md{
	    				top: 220px;
	    				right: 100px;
	    			}

	    			li{
	    				padding-top: 16px;
	    				padding-bottom: 16px;
	    				width: 161px;
	    				display: list-item;
	    				position: relative;
						border-bottom: 2px solid gray;
						cursor: pointer;
						transition: .3s;
	    				
	    				&:hover{
	    					background-color: $color-dark-blue;
	    					color: $color-white;
	    				}


	    				a{
	    					padding-bottom: 15px;
	    					padding-top: 18px;

	    					text-decoration: none;
	    					transition: .3s;
	    					color: $color-light-blue;
	    				}
	    			}
	    		}			
		    }

		    h2{
		    	line-height: 0;
			    margin: 0;
			    text-indent: -10000px;
		    }
		}
	}

	& .welcome{
		grid-row: 3 / 5;
		grid-column: 2 / 5;

		display: grid;
		justify-content: center;
		align-content: end;
	}

	& .user-options{
		grid-row: 2 / 3;
		grid-column: 3 / 5;

		margin-left: 70%;
		margin-top: 18px;

	    position: fixed;

	    z-index: 500;
	    font-size: $font-size-14;
	    display: inline-block;
	    letter-spacing: 1.1px;

	    @include xxl {
	    	display: none;
	    }

	    img{
	        cursor: pointer;
	    }

	    a{
	    	list-style-type: none;
	        margin-right: 17px;
	        text-decoration: none;
	        color: $color-dark-blue;
	        letter-spacing: 1px;
	        
	    	&:last:child{
	    		margin-right: 0;
	    	}

	        &:hover{
	            color: $color-red;
	        }
	    }
	}
}


